* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

.fileDropArea {
  border: 3px dashed blue;
  border-radius: 4vh;
  height: 30vh;
}
.fileDropAreaGreen {
  border: 3px dashed green;
  border-radius: 4vh;
  width: 85vh;
  height: 30vh;
}

.data-window {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 2vh 0;
}

/* Style for table headers */
th {
  background-color: #f2f2f2;
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

/* Style for table cells */
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

/* Hover effect for better user experience */
tr:hover {
  background-color: #f5f5f5;
}

button {
  margin: 10px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid blue;
  border-radius: 5px;
  color: white;
  background-color: blue;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: #3498db;
  color: white;
}

input {
  width: 100%;
}

.code-window {
  max-width: 800px; 
  margin: auto;
}